.portada__bg {
  height: 650px;
  background-image: url(../static/img/home-portada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.portada__bg_rgba {
  background: rgba(0, 0, 0, 0.2);
  height: 100%; }

.portada__box {
  min-height: 520px; }

.portada__font {
  color: white;
  font-family: garreg;
  margin-right: 15px;
  font-size: 40px; }

.portada__box_arrow {
  margin-top: 50px;
  width: 100px; }

.portada__arrow_link {
  color: white; }

.portada__arrow_link:hover {
  color: #DDDDDDDE;
  transition: .4s all ease; }

.portada__arrow {
  font-size: 40px;
  height: 50px; }

@media screen and (max-width: 991px) {
  .portada__bg {
    height: 600px; }
  .portada__box {
    min-height: 470px; }
  .portada__box_arrow {
    margin-top: 50px;
    width: 100px; } }

@media screen and (max-width: 575px) {
  .portada__bg {
    height: 550px; }
  .portada__box {
    min-height: 420px; }
  .portada__box_arrow {
    margin-top: 50px;
    width: 100px; }
  .portada__font {
    margin-right: 0px;
    font-size: 30px; } }

.title__line {
  border: 2px solid #A8A8A8FF;
  width: 140px;
  margin-left: 15px; }

.title__box {
  padding-top: 75px;
  padding-bottom: 75px; }

.title__font {
  font-family: Montserrat-Medium;
  font-size: 28px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px; }

@media screen and (max-width: 991px) {
  .title__font {
    font-size: 25px;
    margin-bottom: 20px; } }

@media screen and (max-width: 575px) {
  .title__line {
    width: 100px;
    margin-left: 0px; }
  .title__box {
    padding-top: 50px;
    padding-bottom: 15px; }
  .title__font {
    font-size: 22px;
    margin-left: 0px;
    text-align: left;
    margin-bottom: 15px;
    margin-right: 0px; } }

.button__btn {
  padding: 8px 18px 8px 18px;
  background: transparent;
  min-width: 150px;
  margin-right: auto;
  margin-left: auto;
  color: #A8A8A8FF;
  border: 2px solid #A8A8A8FF;
  border-radius: 8px;
  font-size: 23px;
  font-family: Montserrat-Regular;
  margin-top: 55px; }

.button__btn:hover {
  color: #A8A8A8FF;
  transition: .4s all ease;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3); }

@media screen and (max-width: 575px) {
  .button__btn {
    margin-top: 20px;
    font-size: 20px; } }

@media screen and (max-width: 575px) {
  .confort__padding {
    margin-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px; } }

.reserva__bg {
  min-height: 700px;
  background: linear-gradient(to top, #212121 75%, transparent 25%, #212121 75%, transparent 25%); }

.reserva__line {
  border: 1px solid #A8A8A8FF;
  width: 2px;
  height: 35px; }

.reserva__line_final {
  border: 1px solid #A8A8A8FF;
  width: 2px;
  height: 15px; }

.reserva__img_1 {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.reserva__box_img {
  height: 430px; }

.reserva__box_img_1 {
  height: 260px; }

.reserva__img_2 {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reserva__line_2 {
  width: 35px;
  height: 2px;
  background: black;
  margin-bottom: 8px;
  margin-top: 12px; }

.reserva__font {
  font-family: Montserrat-Light;
  text-align: left;
  font-size: 14px; }

.reserva__title {
  font-family: Montserrat-Medium;
  font-size: 20px;
  margin-bottom: 0px; }

.reserva__text {
  height: 330px;
  background: #EFEFEFFF;
  -webkit-box-shadow: 25px -25px 0px -5px #9fb6bb;
  -moz-box-shadow: 25px -25px 0px -5px #9fb6bb;
  box-shadow: 25px -25px 0px -5px #9fb6bb; }

.reserva__box_text_2 {
  min-height: 714px;
  background: #EFEFEFFF; }

.reserva__bg_text {
  background: #EFEFEFFF; }

.reserva__btn {
  padding: 8px 45px 8px 45px;
  background: transparent;
  margin-right: auto;
  margin-left: auto;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 23px;
  font-family: Montserrat-Regular;
  margin-top: -10px;
  z-index: 10; }

.reserva__btn:hover {
  color: white;
  transition: .4s all ease;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9); }

.reserva__box_content {
  padding: 24px 24px 24px 24px; }

@media screen and (max-width: 767px) {
  .reserva__bg {
    min-height: 700px;
    background: linear-gradient(to top, #212121 99%, transparent 1%, #212121 99%, transparent 1%); }
  .reserva__box_img_1 {
    height: 220px;
    margin-bottom: 1.5rem; }
  .reserva__box_img {
    height: 260px; }
  .reserva__none {
    display: none; }
  .reserva__box_text_2 {
    min-height: 220px;
    background: #EFEFEFFF; }
  .reserva__text {
    height: 220px;
    background: #EFEFEFFF;
    -webkit-box-shadow: 18px -18px 0px -5px #9fb6bb;
    -moz-box-shadow: 18px -18px 0px -5px #9fb6bb;
    box-shadow: 18px 18px 0px -5px #9fb6bb; }
  .reserva__btn {
    margin-top: 35px; } }

@media screen and (max-width: 575px) {
  .reserva__padding {
    padding-right: 0px;
    padding-left: 0px; }
  .reserva__text {
    -webkit-box-shadow: 12px -12px 0px -5px #9fb6bb;
    -moz-box-shadow: 12px -12px 0px -5px #9fb6bb;
    box-shadow: 12px 12px 0px -5px #9fb6bb; } }

.icon__line {
  border: 1px solid #9fb6bb;
  width: 2px;
  height: 85px; }

.icon__fonts {
  font-size: 80px;
  color: #9fb6bb; }

.icon__text_title {
  color: #9fb6bb;
  font-family: Montserrat-Medium;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px; }

.icon__text_parrofo {
  font-family: Montserrat-Regular; }

.icon__padding {
  padding-top: 50px;
  padding-bottom: 50px; }

@media screen and (max-width: 991px) {
  .icon__padding {
    padding-top: 30px;
    padding-bottom: 30px; }
  .icon__line {
    border: 1px solid #9fb6bb;
    width: 2px;
    height: 25px; } }

@media screen and (max-width: 575px) {
  .icon__padding {
    padding-left: 0px;
    padding-right: 0px; }
  .icon__line {
    border: 1px solid #9fb6bb;
    width: 2px;
    height: 25px; } }

.collage__bg {
  line-height: 0;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
  width: 100%;
  height: auto; }

.collage__img {
  object-fit: cover;
  height: 200px;
  width: 100%; }

.collage__btn {
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 23px;
  font-family: Montserrat-Medium;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 300px;
  position: absolute; }

.collage__btn:hover {
  color: white;
  transition: .4s all ease;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9); }

@media screen and (min-width: 1200px) {
  .collage__img {
    object-fit: cover;
    height: 250px;
    max-height: 300px;
    width: 100%; } }

@media screen and (max-width: 991px) {
  .collage__img {
    height: 180px; }
  .collage__bg {
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    width: 100%;
    height: auto; }
  .collage__img:nth-child(10) {
    height: 0 !important;
    position: absolute; } }

@media screen and (max-width: 767px) {
  .collage__btn {
    padding: 10px 20px;
    width: 250px;
    height: 70px;
    line-height: 1; } }

@media screen and (max-width: 575px) {
  .collage__bg {
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    width: 100%;
    height: auto; }
  .collage__img:nth-child(8) {
    height: 0 !important;
    position: absolute; }
  .collage__img:nth-child(9) {
    height: 0 !important;
    position: absolute; }
  .collage__img:nth-child(7) {
    height: 0 !important;
    position: absolute; } }

@media screen and (max-width: 450px) {
  .collage__bg {
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    width: 100%;
    height: auto; }
  .collage__img:nth-child(8) {
    height: 0 !important;
    position: absolute; }
  .collage__img:nth-child(9) {
    height: 0 !important;
    position: absolute; }
  .collage__img:nth-child(7) {
    height: 0 !important;
    position: absolute; }
  .collage__img:nth-child(5) {
    height: 0 !important;
    position: absolute; }
  .collage__img:nth-child(6) {
    height: 0 !important;
    position: absolute; } }

