.rojas__bg {
  background: linear-gradient(to top, #212121 60%, transparent 40%, #212121 60%, transparent 40%);
  height: 670px; }

.rojas__box {
  padding-top: 100px; }

.rojas__box_title {
  height: 120px; }

.rojas__title {
  font-family: garreg;
  font-size: 42px; }

.rojas__line {
  height: 3px;
  width: 70px;
  background: #9AA5B8FF; }

.rojas__box_img_vertical {
  height: 540px; }

.rojas__box_img_horizontal {
  height: 380px; }

.rojas__box_img_cuadrado {
  height: 250px; }

.rojas__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.rojas__box_imgs_cuadrados {
  margin-top: 30px; }

@media screen and (max-width: 991px) {
  .rojas__title {
    font-family: garreg;
    font-size: 38px; }
  .rojas__padding_1 {
    padding-right: 10px; }
  .rojas__padding_2 {
    padding-left: 10px; }
  .rojas__box_imgs_cuadrados {
    margin-top: 20px; }
  .rojas__padding_cuadrados_1 {
    padding-right: 10px; }
  .rojas__padding_cuadrados_2 {
    padding-left: 10px; }
  .rojas__box_img_cuadrado {
    height: 260px; }
  .rojas__box_img_vertical {
    height: 479px;
    margin-bottom: 20px; }
  .rojas__box_img_horizontal {
    height: 320px;
    margin-bottom: 20px; }
  .rojas__bg {
    background: linear-gradient(to top, #212121 57%, transparent 43%, #212121 57%, transparent 43%);
    height: 670px; } }

@media screen and (max-width: 767px) {
  .rojas__box_title {
    height: 90px; }
  .rojas__padding_1 {
    padding-right: 15px; }
  .rojas__box_img_vertical {
    height: 320px;
    margin-bottom: 20px; }
  .rojas__box_img_horizontal {
    height: 320px;
    margin-bottom: 20px; }
  .rojas__padding_2 {
    padding-left: 15px; }
  .rojas__box {
    padding-top: 70px; }
  .rojas__bg {
    background: linear-gradient(to top, #212121 80%, transparent 20%, #212121 80%, transparent 20%);
    min-height: 1050px; } }

@media screen and (max-width: 575px) {
  .rojas__box_title {
    height: 90px; }
  .rojas__padding_1 {
    padding-right: 0px;
    padding-left: 0px; }
  .rojas__box_img_vertical {
    height: 260px; }
  .rojas__box_img_horizontal {
    height: 260px; }
  .rojas__padding_2 {
    padding-left: 0px;
    padding-right: 0px; }
  .rojas__bg {
    background: linear-gradient(to top, #212121 85%, transparent 15%, #212121 85%, transparent 15%);
    min-height: 1310px; }
  .rojas__box {
    padding-top: 70px; }
  .rojas__padding_cuadrados_1 {
    padding-right: 0px; }
  .rojas__padding_cuadrados_2 {
    padding-left: 0px;
    margin-top: 15px; }
  .rojas__box_imgs_cuadrados {
    margin-top: 15px; }
  .rojas__box_img_horizontal {
    height: 320px;
    margin-bottom: 5px; }
  .rojas__box_img_vertical {
    height: 320px;
    margin-bottom: 15px; } }

.reserva__bg {
  height: auto;
  padding-top: 200px;
  padding-bottom: 100px; }

.reserva__col {
  padding-right: 30px;
  padding-left: 0px; }

.reserva__title {
  font-family: Montserrat-Medium;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 40px;
  font-size: 28px; }

.reserva__line_title {
  height: 3px;
  width: 380px;
  background: #9BA6B9FF;
  margin-left: 15px;
  margin-bottom: 70px; }

.reserva__parrafo {
  font-family: Montserrat-Light;
  margin-bottom: 50px; }

.reserva__box_text {
  padding-right: 40px;
  padding-left: 40px; }

.reserva__btn {
  padding: 7px 45px 7px 45px;
  background: transparent;
  min-width: 150px;
  margin-right: auto;
  margin-left: auto;
  color: #535253FF;
  border: 2px solid #535253FF;
  border-radius: 8px;
  font-size: 23px;
  font-family: Montserrat-Regular;
  margin-top: 55px; }

.reserva__btn:hover {
  color: #535253FF;
  transition: .4s all ease;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3); }

.reserva__line_caracter {
  height: 1px;
  width: 40px;
  background: black;
  margin-bottom: 40px; }

.reserva__subtitle {
  font-family: Montserrat-Medium;
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px; }

.reserva__bg_shadow {
  background: #F9F9F9FF;
  height: 300px;
  -webkit-box-shadow: 29px -30px 0px -10px #98A3B7FF;
  -moz-box-shadow: 29px -30px 0px -10px #98A3B7FF;
  box-shadow: 29px -30px 0px -10px #98A3B7FF; }

.reserva__bg2 {
  background: #F9F9F9FF;
  height: 450px;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.reserva__icon {
  width: 85px;
  height: 85px; }

.reserva__title_caracter {
  font-family: Montserrat-Medium;
  color: #717171FF;
  font-size: 16px;
  text-align: left;
  margin-left: 15px; }

.reserva__parrafo_caracter {
  font-family: Montserrat-Light;
  color: #979797FF;
  font-size: 13px;
  text-align: left;
  margin-left: 15px; }

.reserva__none_pc {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  z-index: 0;
  transform: translateX(-99900px); }

@media screen and (max-width: 991px) {
  .reserva__box_text {
    padding-right: 10px;
    padding-left: 10px; }
  .reserva__icon {
    width: 75px;
    height: 75px; }
  .reserva__bg2 {
    background: #F9F9F9FF;
    height: 450px;
    padding: 30px;
    padding-left: 15px;
    padding-right: 15px; }
  .reserva__col_1 {
    padding-left: 5px; } }

@media screen and (max-width: 805px) {
  .reserva__icon {
    width: 65px;
    height: 65px; }
  .reserva__title_caracter {
    font-size: 15px; }
  .reserva__parrafo_caracter {
    font-size: 12px; }
  .reserva__bg2 {
    background: #F9F9F9FF;
    height: 410px;
    padding: 30px;
    padding-left: 15px;
    padding-right: 15px; }
  .reserva__parrafo {
    font-family: Montserrat-Light;
    margin-bottom: 50px;
    font-size: 15px; } }

@media screen and (max-width: 767px) {
  .reserva__bg {
    padding-top: 100px; }
  .reserva__line_title {
    margin-bottom: 20px; }
  .reserva__title {
    margin-bottom: 20px; }
  .reserva__none_movil {
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    transform: translateX(-99900px); }
  .reserva__none_pc {
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    position: relative;
    text-align: center; }
  .reserva__line_caracter {
    margin-bottom: 24px; }
  .reserva__box_icon {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
  .reserva__col {
    padding-left: 15px; }
  .reserva__col_1 {
    padding-left: 5px;
    padding-right: 5px; } }

@media screen and (max-width: 575px) {
  .reserva__line_title {
    width: 180px; }
  .reserva__title {
    margin-left: 0px; }
  .reserva__col_1 {
    padding-right: 0px;
    padding-left: 0px; }
  .reserva__line_title {
    margin-left: 0px;
    margin-bottom: 20px; }
  .reserva__box_text {
    padding-right: 0px;
    padding-left: 0px; }
  .reserva__box_icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
  .reserva__bg2 {
    background: #F9F9F9FF;
    min-height: 437px;
    padding: 30px;
    padding-left: 15px;
    padding-right: 15px; }
  .reserva__col {
    padding-left: 0px;
    padding-right: 15px; }
  .reserva__line_caracter {
    margin-bottom: 15px; } }

.habitacion__box {
  padding-top: 0px;
  padding-bottom: 100px; }

.habitacion__line {
  width: 3px;
  height: 100px;
  background: #9CA7BAFF; }

.habitacion__title {
  font-family: Montserrat-Medium;
  padding-top: 40px;
  padding-bottom: 40px; }

.habitacion__imgs {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.habitacion__box_imgs {
  width: 100%;
  height: 300px;
  z-index: 1; }

.habitacion__box_col {
  height: 300px; }

.habitacion__box_black {
  height: 265px;
  width: 62%;
  background: #212121;
  z-index: 0;
  top: 65px; }

.habitacion__box_link {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 0; }

.habitacion__box_link:hover {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 1;
  transition: .4s all ease; }

.habitacion__line_number {
  height: 3px;
  width: 35px;
  background: white;
  margin-top: 0px; }

.habitacion__number {
  color: white;
  font-family: Montserat-Medium;
  margin-bottom: 0px;
  font-size: 39px;
  height: 50px; }

.habitacion__box_titles {
  height: 160px; }

.habitacion__fonts_titles {
  font-family: garreg;
  font-size: 40px; }

@media screen and (max-width: 991px) {
  .habitacion__box_imgs {
    width: 100%;
    height: 220px;
    z-index: 1; }
  .habitacion__box_col {
    height: 220px; }
  .habitacion__box_black {
    height: 185px;
    width: 62%;
    background: #212121;
    z-index: 0;
    top: 65px; }
  .habitacion__box_titles {
    height: 70px; } }

@media screen and (max-width: 767px) {
  .habitacion__box_black {
    height: 0px;
    width: 0%;
    background: none;
    z-index: 0;
    top: 0px; }
  .habitacion__box {
    padding-top: 0px;
    padding-bottom: 60px; }
  .habitacion__line {
    position: absolute;
    left: 50%;
    top: -10%;
    width: 3px;
    height: 50px;
    background: #9CA7BAFF; }
  .habitacion__title {
    padding-top: 65px;
    padding-bottom: 20px; } }

@media screen and (max-width: 575px) {
  .habitacion__col {
    padding-right: 0px;
    padding-left: 0px; }
  .habitacion__line {
    position: absolute;
    left: 50%;
    top: 6%;
    width: 3px;
    height: 50px;
    background: #9CA7BAFF; } }

